.wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  top: 0px;
  left: 0px;
  z-index: 1000;
  background: rgba(253, 248, 230, 0.8);
}

.wrapperNoModal {
  margin: 2rem auto;
  position: relative;
  height: auto;
}

.loading {
  margin: auto;
  width: 40px;
  height: 40px;
  background: #fb1;
  border: 4px solid #332d2b;
  box-shadow: 4px 4px 0px #332d2b;
  animation: retroRotate 0.8s infinite steps(4);
}

@keyframes retroRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapperNoModal .loading {
  background: #fb1;
}