.header {
  border-bottom: 2px solid #332d2b;
  position: fixed;
  width: 100%;
  z-index: 100;
  background: #fdf8e6;
  top: 0px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  padding: 0.5rem 0;
  transition: 0.2s;
}

.logo:hover {
  transform: rotate(-5deg) scale(1.1);
}

.login {
  color: #332d2b;
  display: flex;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: var(--type-first);
  border: 2px solid transparent;
  padding: 0.4rem 0.8rem;
}

.login:hover {
  border-color: #332d2b;
  background: #fb1;
  box-shadow: 3px 3px 0px #332d2b;
}

.login::after {
  content: '';
  display: inline-block;
  width: 14px;
  height: 17px;
  background: url('/usuario.svg') no-repeat center center;
  margin-left: 0.5rem;
  position: relative;
  top: -1px;
}
