.wrapper {
  margin-bottom: 1.5rem;
}

.input {
  border: 2px solid #332d2b;
  display: block;
  width: 100%;
  font-size: 1rem;
  font-family: var(--type-first);
  padding: 0.8rem;
  border-radius: 0;
  background: #fffcf0;
  transition: 0.1s;
  color: #332d2b;
}

.input:focus,
.input:hover {
  outline: none;
  background: white;
  border-color: #fb1;
  box-shadow: 4px 4px 0px #332d2b;
}

.label {
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}

.error {
  color: #f31;
  font-size: 0.875rem;
  margin-top: 0.4rem;
  font-weight: bold;
}
